*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: BricolageGrotesque ;
      scrollbar-width: none;
      
}

body{
 background: #FFFFFF;
 font-family: BricolageGrotesque ;
}
span{
   font-family: BricolageGrotesque ;   
}

a{
      cursor: pointer;
      color: inherit;
}

@font-face {
      font-family: BricolageGrotesque;
      src: url('./assets/Fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf');
}